# templates/deployment.yaml.j2
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  labels:
    app: {{ name }}
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: {{ name }}
  template:
    metadata:
      labels:
        app: {{ name }}
    spec:
      containers:
      - name: {{ name }}
        image: "{{ image }}"
        {# This block will only be rendered if 'command' is defined in the values file #}
        {% if command is defined and command %}
        command:
          {% for line in command %}
          - "{{ line }}"
          {% endfor %}
        {% endif %}
        ports:
        - containerPort: {{ port }}
        resources:
          requests:
            cpu: "{{ cpu_request }}"
            memory: "{{ mem_request }}"
          limits:
            cpu: "{{ cpu_limit }}"
            memory: "{{ mem_limit }}"
